body{
  background-color: black;
}
a{
  text-decoration: none;
}
.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 12px;
  width: 300px;
}
.sidebar_navigation{
  background-color: #121212;
  border-radius: 8px;
  padding: 16px 0px 0px 16px;
}

.sidebar_navigation .logo{
  background: #121212;
  display: flex;
  border-radius: 8pc;
  padding: 16px 0px 0px 16px;
}

.sidebar nav ul {
  margin-top: 20px;
  padding: 0 20px 10px 20px;
}

.sidebar nav ul li a{
  color: #b3b3b3;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  font-family: "DM Sans", sans-serif;
}
.sidebar ul li{
  padding: 10px 0;
}

.logo img{
  width: 80px;
}

.biblioteca{
  display: flex;
  margin-top: 14px;
  background-color: #121212;
  border-radius: 8px;
  padding: 0 16px;
}
.biblioteca nav ul {
  margin-top: 20px;
  padding: 0 20px 10px 20px;
}

.biblioteca ul li a{
  text-decoration: none;
  color: #b3b3b3;
  font-weight: 600;
  font-size: 14px;
  font-family: "DM Sans", sans-serif;
}
.fa-plus{
padding-left: 100px;
}